
@font-face {
    font-family: instrumentSerif;
    src: url(./fonts/InstrumentSerif-Regular.C8Ywmrcl.ttf);
}
@font-face {
    font-family: interTight;
    src: url(./fonts/InterTight-Medium.kWOU42rH.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
  display: none;
}
html,body{
    min-height: 100vh;
    width: 100%;
    /* scroll-behavior: smooth; */

}

main{
    width: 100%;
    height: 100%;
    /* max-width: 1400px; */
    color: #eae8e8;
    font-family: interTight;
    font-size: 1.125rem;
    
    
}

header{
    font-family: interTight;
    font-size: 1.135rem;
    background: none;
    z-index:9;
    color: #eae8e8;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    padding-inline: 3%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

nav .left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
}
.left-nav .logo-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-nav .menu{
    display: flex;
    align-items: center;
    gap: 40px;

}

.menu .text-icon-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.right-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}
/* .right-nav  */
.btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #fff;
    padding: 1em 2em;
    color: rgba(0, 0, 0, 0.692);
    font-weight: 600;
    border-radius: 100px;
}

.btn-set{
overflow: hidden;

}
.btn-set p{
    transition: all ease-in-out .2s;
    
}
 .btn-set{
    height: 25px;
    /* background-color: red; */
}
.btn:hover .btn-set p{
    transform: translateY(-100%);
    
}
.card:hover .btn-set p{
    transform: translateY(-100%);
}

nav .nav-icon img{
    width: 4400px;
}
.hero{
    width: 100%;
    height: 100vh;
}

.hero .bg{
    position: fixed;
   left: 0;
   top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
}

.bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero p{
    position: absolute;
    left: 50%;
    top:30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    z-index: -9;
}
.hero h1{
    position: absolute;
    /* text-align: center; */
    font-family: instrumentSerif;
    font-weight: 400;
    letter-spacing: -.7rem;
    font-size: 14.5rem;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: .8em;
    line-height: 1;
    mix-blend-mode: difference;
    /* overflow: hidden; */
    /* background-color: #fff; */
    /* width: 100%; */
}

.hero h1 span.left-h1{
    position: relative;
    /* transform: translateX(-110%) */
    
}

.hero h1 span.right-h1{
    position: relative;
    /* transform: translateX(110%) */

}

.page2{
    /* width: 100vw; */
    min-height: 100vh;
    background-color: #14151D;
    padding-inline:3%;
    padding-bottom: 100px;
}

.page2 .para{
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-left: 52%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.page2 .cards{
    display: grid;
    flex-wrap: wrap;

    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 100vw;

}

.page2 .card{
    background-color: #292A33;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-width: 400px;
    /* justify-content: ; */
    
    /* width: 100%; */
    
}
.page2 .card .img-title-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.page2 .card .img-cont{
    width:100%;
    height: 240px;
    border-radius: 30px;
    display: flex;    
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-cont img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
    scale: 1.1;
}

.card h5{
    font-size: 2.8rem;
    font-family: instrumentSerif;
    font-weight: 400;
    
}


.card .para-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.card .para-cont .card-para{
    color: #e9e7e766;
    margin-top: 50px;
    width: 39%;
    font-size: 1rem;
    align-self: flex-end;
    line-height: 1;

}

.card .btn-set{
    align-self: flex-end;
    margin-right: 20px;
    
}

.page3{
    width: 100%;
    min-height: 100vh;
}

.page3 .page3-bg{
    position: relative;
    width: 100%;
    height:100%;
    /* overflow: hidden; */

}

.page3 .page3-bg .blur-gray{
    position: absolute;
    background: linear-gradient(to bottom, #14151D, rgba(255, 0, 0, 0));
    width: 100%;
    height: 800px;
    z-index: -7;
    /* transform: translate(20%,-50%); */
    /* filter: blur(80px); */
    
}

.page3 .page3-bg img{
position: absolute;
width: 100%;
/* height: 100%; */
z-index: -8;
    /* object-fit: cover; */
    /* object-position: center; */
}

.page3 .content{
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 35rem;
    padding: 5% 3%;
    
}

.page3 .content .top{
    display: flex;
    gap: 30rem;
    /* height: 30%; */
}
.page3 .content .top .top-left{
    font-size: 2rem;
    width: 20%;
    line-height: 1;
}

.page3 .content .top-right{
    font-family: instrumentSerif;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: -1px;
}
.top-right h1{
    font-weight: 400;
    
}
.top-right p{
    font-weight: 400;
    font-size: 3rem;
    
}

.content .bottom{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 47%;
    /* width: 40%; */
}

.content .bottom .bottom-para{
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 1.3rem;
}

.content .bottom .btn{
    width: 240px;
    gap: 30px;
    /* display: block; */
}
